.scroller__wrapper {
    /* How long one slide is visible on screen (from entering screen to leaving it) */
    --scrolling-gallery-item-duration: 10s;
    /* How many items we want to see on screen at once */
    --scrolling-gallery-items-visible: 6;
    /* How many items are to scroll */
    --scrolling-gallery-items-total: 8;
    margin-top: 0.25em;
    overflow: hidden;
    will-change: transform;
  }
  
  .scroller {
    animation-duration: calc(var(--scrolling-gallery-item-duration, 1s) / var(--scrolling-gallery-items-visible) * var(--scrolling-gallery-items-total));
    animation-timing-function: linear;
    animation-name: scrolling-gallery;
    animation-iteration-count: infinite;
    display: flex;
    white-space: nowrap;
  }
  
  .scroller__container {
    /* Without this, scroll will jump on desktop if any vertical scrollbar is shown */
    width: 100vw;
  }
  
  .scroller__item {
    flex: 1 0 calc(100% / var(--scrolling-gallery-items-visible));
    /* Without this, block elements will take width from their contents and thus making wrong calculations,
       so this just force elements to take only exact part of the container (screen) and equal for all */
    width: 0px;
    /* If you want to have it continuous without any spaces, remove two lines below */
    box-sizing: border-box;
    padding: 0.5em;
  }
  
  .scroller img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.9;
    width: 100%;
  }
  
  @keyframes scrolling-gallery {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(var(--scrolling-gallery-items-total) * -100vw / var(--scrolling-gallery-items-visible)));
    }
  }
  
