.root {
  background-color: #000629;
  /* background-image: url('../public/assets/bg3.png');
  background-repeat: no-repeat;
  background-size: cover; */
  min-height: 100vh;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

*{
  font-family: 'Nunito' !important;
}